In [2]:
import pandas as pd
import numpy as np

C:\Users\wrnaf\AppData\Local\Temp\ipykernel_26788\2937650959.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [3]:
loan_df =pd.read_csv("loans_full_schema.csv")
loan_df.head(5)

,emp_title,emp_length,state,homeownership,annual_income,verified_income,debt_to_income,annual_income_joint,verification_income_joint,debt_to_income_joint,...,sub_grade,issue_month,loan_status,initial_listing_status,disbursement_method,balance,paid_total,paid_principal,paid_interest,paid_late_fees
0,global config engineer,3.0,NJ,MORTGAGE,90000.0,Verified,18.01,NaN,NaN,NaN,...,C3,Mar-2018,Current,whole,Cash,27015.86,1999.33,984.14,1015.19,0.0
1,warehouse office clerk,10.0,HI,RENT,40000.0,Not Verified,5.04,NaN,NaN,NaN,...,C1,Feb-2018,Current,whole,Cash,4651.37,499.12,348.63,150.49,0.0
2,assembly,3.0,WI,RENT,40000.0,Source Verified,21.15,NaN,NaN,NaN,...,D1,Feb-2018,Current,fractional,Cash,1824.63,281.80,175.37,106.43,0.0
3,customer service,1.0,PA,RENT,30000.0,Not Verified,10.16,NaN,NaN,NaN,...,A3,Jan-2018,Current,whole,Cash,18853.26,3312.89,2746.74,566.15,0.0
4,security supervisor,10.0,CA,RENT,35000.0,Verified,57.96,57000.0,Verified,37.66,...,C3,Mar-2018,Current,whole,Cash,21430.15,2324.65,1569.85,754.80,0.0

Notes

A random variable, x, is a variable where the possible outcomes are a function of a random phenomena.
- the probabilty for any event is between 0 and 1 inclusive
- the summation of the probabilities of each outcome equals 1

We use a random see to make sure our results are repeatable accross different machines.

Continous vs Discrete

continous = consistant data with non predeterminaed outcomes (height, wieght, speed)
discrete = data with predtermined outputs (coin flips, color of shirt)

Data Distrbution

Uniform - all outcomes have the same probability
Binomial - discrete porabola
Normal - continous porabola

Expected Value

Law of large numbers - as the sample size increase the sample mean gets closer to the population mean 
uniform distribution - for a random variable, expected value is (a+b)/2, where a is the maximum possible value and b in the minimum
binomial distribution - mean is the expected value, which is equal to n trials *p probability
Standard normal distribution - mean is the expected value

What is Machine Learning?

Machine learning is the study of computer algorithims that improve automatically through experience and by the use of data. Part of artificial intelligence.

Preprocessing
1. Cleaning up null values
2. Data cleaning (dashes, old characters, etc)
   - handle missing data
   - remove extreme outliers
3. one-hot encoding
4. convert categorical values to numerical (sometimes that is the same as 3)
5. standardization/normalization
6. deal with multicollineariy (can be cause by 3)

Feature Enginerring
Definiton - selecting varibales that are the best predictors for what were trying to predict

Computation times are high if we have too many features, and too many features can lead to overfitting

Cross Validation
def: testing performance of a machine learning model

How we do this:
- train a model using a subset of data
- test model performance using a different subset (w or w/o replacement)

In [17]:
df_clothes =pd.DataFrame(data = [['green','M',10, 'shirt'],
                                  ['red','L',60, 'sweatshirt'],
                                  ['black','M',120, 'shoes']])
df_clothes

       0  1    2           3
0  green  M   10       shirt
1    red  M   60  sweatshirt
2  black  M  120       shoes

In [18]:
size_map = {'S':1,'M':2,'L':3}
df_clothes ['size'] =df_clothes['size'].map(size_map)
df_clothes

KeyError: 'size'